In [ ]:
print("hello world")

hello world

In [ ]:
print("shani")

shani

In [ ]:
a=10
b=20
c='shani'
print(a+b,c)

x,y,z = (1,2,3)
print(x+y+z)

30 shani
6

In [ ]:
name = 'ahsan'
age = '20'
# print('my name is '+name + ' age is '+age)
print(f'my name is {name}')
print(name.capitalize())

my name is ahsan
Ahsan

In [ ]:
lists = [1,2,3,4,5]
fruits = ['Apple','Banana','Mango']
# print(lists,fruits) 
# print(lists[2])
# print(len(fruits))
fruits.append('Grapes')
fruits.remove('Apple')
fruits.insert(2,'Strawberries')
# fruits.reverse()
# fruits.sort()
print(lists,fruits)

[1, 2, 3, 4, 5] ['Banana', 'Mango', 'Strawberries', 'Grapes']

In [ ]:
tup = ('Apple','Banana')
tup2 = ('Grapes',)
# print(tup[1])
print(tup)

('Apple', 'Banana')

In [ ]:
fruits_Set = {'Apple','Mango'}
# print('Apple' in fruits_Set)
fruits_Set.add('Grape')
# fruits_Set.remove('Grape')
# fruits_Set.clear()
print(fruits_Set)

{'Grape', 'Mango', 'Apple'}

In [ ]:
person = {
    'name':'Ahsan',
    'age':20
}
person2 = dict(name='Shani',age=20)
person['city'] = 'Badin'
print(person2,type(person2))
print(person,type(person))
print(person['name'])
print(person2.get('age'))
print(person.keys())
print(person.items())

person3 = person.copy()
person3['phone'] = '03323786747'
print(person3)
del(person['age'])
person.pop('city')
person.clear()
print(person)

people = [
          {'name':'xyz'},
          {'name':'abc'}
]
print(people)

In [ ]:
def hello(name):
  print(f'Hello {name}')

def getSum(num1,num2):
  tot = num1 + num2
  return tot

getSub = lambda num1 , num2 : num1 - num2
print(getSub(50,40)) 

# sum = getSum(1,2)
# print(sum)    

# hello('Ahsan')

10

In [ ]:
persons = ['ahsan','shani','samiullah']
for person in persons:
  print(person)

for i in range(len(persons)):
  print(persons[i])

for i in range(1,10):
  print(i)    

count = 0
while count <=10:
  print(count)
  count += 1

In [ ]:
class User:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def greetings(self):
    return f'My name is {self.name} and I am {self.age} old'


vbn = User('Ahsan',20)
print(vbn.greetings())
  # xyz = User ('Ahsan',20)
  # print(xyz.greetings())

My name is Ahsan and I am 20 old